{# src/EDiff/Bundle/AdminBundle/Resources/views/Accueil/valider_question.html.twig #}

<div class="alert alert-error">
	<p class="no-margin">Eh non! La bonne réponse était : <strong>{{ reponse }}</strong></p>
</div>