{# src/EDiff/Bundle/AdminBundle/Resources/views/Matiere/index.html.twig #}

{% extends "EDiffAdminBundle::layout_front.html.twig" %}

{% block title %}{{ parent() }} | Erreur{% endblock %}

{% block body %}

<div class="my-unit">
	<p><br/>Oups! Il semble que vous n'ayez pas complété ce questionnaire. Impossible donc d'afficher celui-ci.</p>
	<p><br/><a href="{{ path('EDiffAdminBundle_liste_questionnaires') }}">Retour à la liste des questionnaires</a></p>
</div>

{% endblock %}