{# src/EDiff/Bundle/AdminBundle/Resources/views/Matiere/index.html.twig #}

{% extends "EDiffAdminBundle::layout_front.html.twig" %}

{% block title %}{{ parent() }} | Choix de la matière{% endblock %}

{% block body %}

<div class="my-unit">
	<h2>Et voilà, le questionnaire "Chapitre 3 - Le Moyen Âge" est terminé !</h2>
	<p><br/>Vous obtenez la note de : 8/10 </p>
	<p><br/><a href="/template_choixquestionnaire.html">Retour</a></p>
</div>

{% endblock %}