EDiffAdminBundle_home:
    pattern:  /
    defaults: { _controller: EDiffAdminBundle:Accueil:index }

EDiffAdminBundle_accueil:
    pattern:  /accueil
    defaults: { _controller: EDiffAdminBundle:Accueil:index }

EDiffAdminBundle_deconnexion:
    pattern:  /deconnexion
    defaults: { _controller: EDiffAdminBundle:Accueil:deconnexion }
    
EDiffAdminBundle_accueil_BO_admin:
    pattern:  /accueil_admin
    defaults: { _controller: EDiffAdminBundle:Accueil:indexAdmin }
    
EDiffAdminBundle_accueil_BO_prof:
    pattern:  /accueil_prof
    defaults: { _controller: EDiffAdminBundle:Accueil:indexProf }
    
EDiffAdminBundle_connected:
    pattern:  /accueil/{name}
    defaults: { _controller: EDiffAdminBundle:Accueil:connected }
    
EDiffAdminBundle_connexion:
    pattern:  /connexion
    defaults: { _controller: EDiffAdminBundle:Accueil:connect }
    requirements: { _method: post }
    
EDiffAdminBundle_liste_matieres:
    pattern:  /choix_matiere
    defaults: { _controller: EDiffAdminBundle:Accueil:matiere }
    
EDiffAdminBundle_valider_liste_matieres:
    pattern:  /valider_matiere
    defaults: { _controller: EDiffAdminBundle:Accueil:validerMatiere }
    requirements: { _method: post }

EDiffAdminBundle_liste_questionnaires:
    pattern:  /choix_questionnaire
    defaults: { _controller: EDiffAdminBundle:Accueil:questionnaire }

EDiffAdminBundle_valider_questionnaire:
    pattern:  /valider_questionnaire
    defaults: { _controller: EDiffAdminBundle:Accueil:validerQuestionnaire }
    requirements: { _method: post }
    
EDiffAdminBundle_question_front:
    pattern:  /etude/{id}
    defaults: { _controller: EDiffAdminBundle:Accueil:question }
    
EDiffAdminBundle_valider_question:
    pattern: /question/valider/{id}
    defaults: { _controller: EDiffAdminBundle:Accueil:validerQuestion }
    requirements: { _method: post }
    
EDiffAdminBundle_recap_final:
    pattern:  /recap/{id}
    defaults: { _controller: EDiffAdminBundle:Accueil:recap }

EDiffAdminBundle_affectation_eleve:
    pattern:  /affecter_eleve
    defaults: { _controller: EDiffAdminBundle:ClasseEleveAnnee:index }

EDiffAdminBundle_affectation_choix_eleve:
    pattern:  /affecter_choix_eleve
    defaults: { _controller: EDiffAdminBundle:ClasseEleveAnnee:choisirEleve }
    requirements: { _method: post }
    
EDiffAdminBundle_validation_affectation:
    pattern:  /validation_affectation
    defaults: { _controller: EDiffAdminBundle:ClasseEleveAnnee:validationAffectation }
    requirements: { _method: post }
    
EDiffAdminBundle_crud:
    resource: "@EDiffAdminBundle/Resources/config/routing/anneescolaire.yml"
    prefix:   /anneescolaire
    
EDiffAdminBundle_matiere_crud:
    resource: "@EDiffAdminBundle/Resources/config/routing/matiere.yml"
    prefix:   /matiere

EDiffAdminBundle_classe:
    resource: "@EDiffAdminBundle/Resources/config/routing/classe.yml"
    prefix:   /classe

EDiffAdminBundle_competence:
    resource: "@EDiffAdminBundle/Resources/config/routing/competence.yml"
    prefix:   /competence
    
EDiffAdminBundle_user:
    resource: "@EDiffAdminBundle/Resources/config/routing/user.yml"
    prefix:   /user
    
EDiffAdminBundle_question:
    resource: "@EDiffAdminBundle/Resources/config/routing/question.yml"
    prefix:   /question

EDiffAdminBundle_reponse:
    resource: "@EDiffAdminBundle/Resources/config/routing/reponse.yml"
    prefix:   /reponse

EDiffAdminBundle_questionnaire:
    resource: "@EDiffAdminBundle/Resources/config/routing/questionnaire.yml"
    prefix:   /questionnaire
    
EDiffAdminBundle_questionnaireeleve:
    resource: "@EDiffAdminBundle/Resources/config/routing/questionnaireeleve.yml"
    prefix:   /questionnaireeleve
    
EDiffAdminBundle_competenceeleveannee:
    resource: "@EDiffAdminBundle/Resources/config/routing/competenceeleveannee.yml"
    prefix:   /competenceeleveannee 
    
EDiffAdminBundle_competenceclasseannee:
    resource: "@EDiffAdminBundle/Resources/config/routing/competenceclasseannee.yml"
    prefix:   /competenceclasseannee       