{# src/EDiff/Bundle/AdminBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}MonCours.org{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/moncours.css" rel="stylesheet">
    
    <!-- Jquery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav icon -->
    <!-- <link rel="shortcut icon" href="/ico/favicon.ico"> -->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">MonCours.org</a>
          <a class="deconnexion" href="{{ path('EDiffAdminBundle_deconnexion') }}">Se déconnecter</a>
        </div>
      </div>
    </div>

    <div class="container">

		{% block body %}
        {% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.js"></script>
    
  </body>
</html>
