body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	background-color: #ddd;
}

.navbar-inner {

}

.my-unit {
  padding: 60px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.my-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.my-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}

.my-unit p.question {
  font-size: 14px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}

.my-unit h1 {
	margin-bottom:0.5em;
}
.my-unit label {
	width:100px;
	float:left;
	padding-top:4px;
	margin-bottom:0;
}
.my-unit input {
	margin-top:0;
}
.my-unit form {
	margin-bottom: 5px;
}

.questionnaire_ferme {
	color:red;
	font-style:italic
}

.reponses label{
	float:none;
	display:inline;
	margin-left: 5px;
    margin-right: 20px;
}

.no-margin {
	margin:0;
}

.question_suivante {
	text-align: right;
}

.test {
	text-align: right;
}